.component {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 100px;

  .tabs {
    display: flex;
    align-self: flex-end;
    gap: 10px;
  }

  .sortBlock {
    display: flex;
    gap: 20px;

    .orderIcon {
      align-self: flex-end;
      margin-bottom: 5px;
      svg {
        transform: rotate(180deg);
      }
    }

    .isDesc {
      svg {
        transform: rotate(0deg);
      }
    }
  }
}
