.component {
    background-color: rgb(249, 239, 239);
    color: white;
    padding: 0px 10px;
    width: 450px;
    height: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    right: 0;
    z-index: 9;
    gap: 50px;
  
    .home {
      font-size: 30px;
    }
  }