.component {
    background-color: white;
    border-left: 1px solid var(--color-grey) ;
    padding: 170px 20px;
    width: 450px;
    height: 100%;
    display: flex;
    position: fixed;
    align-items: flex-start;
    right: 0;
    z-index: 2;
  }