.component {
    background-color: #f6f2f2;
    padding: 170px 20px;
    width: 450px;
    height: 100%;
    display: flex;
    position: fixed;
    align-items: flex-start;
    right: 0;
    z-index: 2;
  }